// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Override / set color variables
$white: #fff;
$black: #000;
$green: #00e389;
$blue: #2a97be;
$orange: #f26c22;
$yellow: #ffc107;
$red: #e5001e;

// Create grayscale
$gray-dark: #292b2c;
$gray: #3f3f3f;
$gray-light: #7e7e7e;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;

// Custom colors
// Colors for card headers with option header-bg-variant
$light: #f6f8fa;

//body background color
$body-bg: $gray-lightest;

// Set brand colors
$primary: $blue;
$success: $green;
$info: white;
$warning: $orange;
$danger: $red;

// Override button colors
$btn-info-color: darken($info, 45);

// Override badges padding (doubled because otherwise too crammed)
$badge-padding-x: 0.8em;
$badge-padding-y: 0.4em;

// Don't make badges normal instead of bold
$badge-font-weight: normal;

// Override fonts
$font-family-sans-serif: 'Avenir', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Set global options
$enable-shadows: false;
$enable-gradients: true;

// Pagination
$pagination-color: #1380b5;
$pagination-hover-color: #1380b5;
$pagination-hover-bg: #afc3cc;
$pagination-active-color: white;
$pagination-active-bg: #1380b5;

// Tabs
$nav-tabs-link-active-bg: #f6f8fa;

//Navigation bar
$navbar-dark-hover-color: #1380b5;
$navbar-dark-color:  $gray-light;
$navbar-dark-active-color: #017FB7;
$navbar-brand-padding-y: 0px;

$link-hover-color: #1380b5;
